.star-icon {
  padding: 16px;
  background-color: hsl(213, 19%, 25%);
  border-radius: 50%;
  margin-bottom: 20px;
}

.rating {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  gap: .95rem;
}
.rating-btn {
  background-color: hsl(213, 19.2%, 20.4%);
  border-radius: 50%;
  color: var(--medium-gray);
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 700;

  transition: .25s;
}
.rating-btn:hover {
  background-color: var(--light-gray);
  color: #fff;
}
.rating-btn--active {
  background-color: var(--primary-orange) !important;
  color: #fff !important;
}

.submit-btn {
  text-transform: uppercase;
  width: 100%;
  background-color: var(--primary-orange);
  color: #fff;
  height: 2.5rem;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 0.15rem;

  transition: .25s;
}

.submit-btn:disabled {
  background-color: var(--medium-gray);
  cursor: not-allowed;
}

.submit-btn:disabled:hover {
  background-color: var(--medium-gray);
  color: #fff;
}

.submit-btn:hover {
  background-color: #fff;
  color: var(--primary-orange);
}

@media screen and (max-width: 425px){
  .rating-btn {
    width: 3em;
    height: 3rem;
  }
  .rating {
    gap: .5rem;
  }
}
